body {    
background: #830cd3;
font-family: Arial;
}
.cartao { background: rgba(243, 190, 43, 0.89); }
#titulo { color: #2563eb; }

#apresentaçao{
color:#1e2983b;
background:#dbeafe;
font-family: Arial;
font-sizer:18px
text-aling: center;
}

body{color:#334155;}
.destaque {background:#fef08a;}
#titulo {font-size: 32px;}
.cartao p {color:#475569;}
.interesse > li{}


<p id="erro" class="aviso">
atençao!
</p>
p{color: blue;}
.aviso{color: rgb(46, 44, 153);}
#erro{ color :red;}

.cartao{
    width:288px;
    padding: 24px;
 border: 2px solid #93c5fd;
 margin: 15px;
}

html{front-size: 16px;}
#titulo{front-size:2rem; }
.cartao{width: 80%;}
body{min-heiht: 100vh;}
.cartao{}



